@charset "utf-8";
.title-wrap {
    text-align: center;
}
#title01 {
    font-size: 2em;
}
.banner {
    margin: 0 auto 40px;
}
.banner img {
    width: 100%;
}
.nomi-wrap {
    width: 90%;
    margin: 0 auto;
}
.nomi-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto 40px;
    width: 100%;
}
.nomi-button a{
    transition: all .3s;
}
.nomi-button a:hover{
    opacity: .65;
}

.nomi-button li {
    width: 100%;
}
.nomi-button img {
    width: 100%;
}

.main-image {
    margin: 0 auto 50px;
}
.main-image img {
    width: 100%;
}

/* 宅飲み・外飲み　共通 */
h2 {
    margin: 0 auto 30px;
    text-align: center;
}
h2 img {
    width: 100%;
}
h3 {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 20px;
    border-bottom: 3px dotted #26baf0;
    color: #1f1f1f;
}
#block_01, #block_02, #block_03, #block_04, #block_05, #block_06, #block_07 {
    display: inline-block;
}
.takunomi, .sotonomi {
    margin-bottom: 50px;
}
.main-wrap .comment p {
    width: 100%;
    text-align: left;
    font-size: 1.2em;
    line-height: 2;
    font-weight: bold;
    color: #1f1f1f;
    margin-bottom: 50px;
}
.lineup {
    margin-bottom: 50px;
}
.lineup li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}
.lineup img {
    width: 100%;
    margin-bottom: 20px;
}
.lineup-comment {
    width: 100%;
}
.lineup-comment p {
    display:inline-block;
    vertical-align: middle;
    font-weight: bold;
    color:#404040;
    letter-spacing: 0.05em;
    line-height: 2;
    font-size: 0.9em;
}
.lineup .second {
    flex-direction: column-reverse;
    margin-bottom: 0;
}

/* 宅飲み */
.main-wrap {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.takunomi .main-wrap .image {
    position: absolute;
    right: 0;
    bottom: 380px;
    text-align: right;
}
.takunomi .main-wrap .image img {
    width: 50%;
}

.ate-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ate-list li {
    width: 100%;
    margin-bottom: 50px;
}
.ate-list img {
    width: 100%;
    margin-bottom: 20px;
}
.ate-list p {
    width: 100%;
    font-size: 0.9em;
    font-weight: bold;
    color: #404040;
    line-height: 2;
}
.ate-list h3 {
    text-align: center;
}



/* 外飲み */
.sotonomi .main-wrap .image {
    position: absolute;
    left: 0;
    bottom: 400px;
}
.sotonomi .main-wrap .image img {
    width: 50%;
}
.sotonomi .lineup {
    margin-bottom: 0;
}


/* fade 上に上がる */
.up {
    opacity : 0;
    transform: translateY(50px);
    transition: 2s;
}
/* fade 下に下がる */
.down {
    opacity : 0;
    transform: translateY(-50px);
    transition: 2s;
}


.float-up {
    animation-name: float-up;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1.6s;
}
@keyframes float-up {
    0% {
        transform: translate(0,0px);
    }

    100% {
        transform: translate(0,-15px)
    }
}

.float-down {
    animation-name: float-down;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1.6s;
}
@keyframes float-down {
    0% {
        transform: translate(0,-15px);
    }

    100% {
        transform: translate(0,0px)
    }
}


@media screen and (min-width: 375px) {
    .sotonomi .main-wrap .image {
        bottom: 350px;
    }
}


@media screen and (min-width: 400px) {
    h2 img {
        width: 100%;
    }
    .sotonomi .main-wrap .image {
        bottom: 300px;
    }
}

@media screen and (min-width: 600px) {
    .takunomi .main-wrap .image {
        bottom: 290px;
    }
    .takunomi .main-wrap .image img {
        width: 70%;
    }

    .sotonomi .main-wrap .image {
        bottom: 290px;
    }
    .sotonomi .main-wrap .image img {
        width: 70%;
    }
}

@media screen and (min-width: 768px) {
    h2 img {
        width: 400px;
    }
    .takunomi .main-wrap .image {
        right: 0;
        bottom: 250px;
    }
    .takunomi .main-wrap .image img {
        width: 80%;
    }

    .sotonomi .main-wrap .image {
        bottom: 250px;
    }
    .sotonomi .main-wrap .image img {
        width: 80%;
    }
}


@media screen and (min-width: 1024px) {
    #title01 {
        font-size: 2em;
    }
    .banner {
        margin: 0 auto 80px;
    }
    .nomi-button {
        margin: 0 auto 80px;
        width: 80%;
    }
    .nomi-button li {
        width: 40%;
    }

    .main-image {
        margin: 0 auto 80px;
        text-align: center;
    }
    

    .main-image img {
        width: 90%;
    }

    .takunomi, .sotonomi {
        margin-bottom: 100px;
    }
    h2 {
        margin: 0 auto 50px;
    }
    h3 {
        margin-bottom: 20px;
    }

    .main-wrap {
    }
    .main-wrap .comment {
        width: 70%;
        margin-bottom: 100px;
    }
    .takunomi .main-wrap .image {
        right: 30px;
        bottom: 300px;
    }
    .takunomi .main-wrap .image img {
        width: 100%;
    }



    .lineup {
        margin-bottom: 100px;
    }
    .lineup img {
        width: 48%;
        margin-bottom: 0;
    }
    .lineup-comment {
        width: 48%;
        padding-top: 30px;
    }
    .lineup li {
        margin-bottom: 50px;
    }
    .lineup .second {
        flex-direction: unset;
    }

    .ate-list li {
        width: 30%;
        margin-bottom: 0;
    }
    .ate-list img {
        width: 100%;
    }
    .ate-list p {
        width: 100%;
    }


    .sotonomi .main-wrap .comment {
        margin-left: auto;
    }
    .sotonomi .main-wrap .image {
        left: 30px;
        bottom: 150px;
    }

    .sotonomi .main-wrap .image img {
        width: 100%;
    }
}

/*
.test {
    position: relative;
}

.photo {
    position: absolute;
    z-index: 10;
}
.circle {
    position: absolute;
    z-index: 20;  
    animation: r1 10s linear infinite;
    width: 130%!important;
    top: -50px;
    left: -20px;
}

@keyframes r1 {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
*/