<div class="container">
  <div class="footer">
    <ul class="sns">
      <li>
        <a href="">
          <img src="/assets/img/tw.png" alt="Twitterのアイコン">
        </a>
      </li>
      <li>
        <a href="">
          <img src="/assets/img/fb.png" alt="Facebookのアイコン">
        </a>
      </li>
    </ul>
      
    <p class="caution">ストップ！20歳未満飲酒・飲酒運転。<br class="br-sp">妊娠中や授乳期の飲酒はやめましょう。<br>お酒はなによりも適量です。のんだあとはリサイクル。</p>
    <p class="copyright">Copyright© 2020-Horoyoi Meter All Rights Reserved.<br class="br-sp">by <a href="https://www.yuki-017.com/" target="_blank">YUKI WORKS</a>.</p>
  </div>
  <svg class="svg-beer" version="1.1" xmlns="http://www.w3.org/2000/svg"><path id="wave" d=""/></svg>
</div>