@charset "utf-8";

/* common */
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f9ffa3;
    font-family: "游ゴシック","YuGothic","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ ゴシック",sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.contents {
    margin: 0 auto;
    width: 90%;
    background-color: #fafafa;
    padding: 50px 0;
}
.inner {
    margin: 0 auto;
    width: 90%;
}
.wrap {
    margin: 0 auto;
    text-align: center;
}
input {
    border: 0px;
    background: #fff;
    height: 40px;
    font-size: 110%;
    text-align: right;
    margin-right: 15px;
    font-weight: bold;
    color: #1f1f1f;
}
.br-sp {
    display: block;
}
.br-pc {
    display: none;
}
table th, table td {
    box-sizing: border-box;
}
#title01 {
    font-size: 2em;
    margin-bottom: 30px;
}
#title02, #title03 {
    font-size: 1.2em;
    margin-bottom: 30px;
}
#title01, #title02, #title03 {
    display: inline-block;
    font-weight: bold;
    color: #777;
}
.step-pc {
    display: none;
}
.step-sp img {
    width: 80px;
        vertical-align: top;
        transform: rotate(-10deg);
        text-align: center;
        margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
    .contents {
        padding: 100px 0;
    }
    input {
        height: 50px;
    }
}

@media screen and (min-width: 1024px){
    .contents {
        width: 980px;
    }
    .inner {
        width: 1000px;
    }
    .wrap {
        width: 90%;
    }
    #title02, #title03 {
        margin-bottom: 60px;
        font-size: 1.5em;
    }
    .br-sp {
        display: none;
    }
    .br-pc{
        display: block;
    }
    .step-pc {
        width: 80px;
        vertical-align: middle;
        transform: rotate(-10deg);
        text-align: center;
        display: inline-block;
    }
    .step-sp img {
        display: none;
    }
}

/* メニュー */
nav {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 100%;
    /*transform: translateX(100%) translateY(100%);*/
    transform: translateX(100%) translateY(0%);
    z-index: 999;
    color: #1f1f1f;
    transition: all 0.8s;
    /*overflow-y: scroll;*/
    /*overflow-x: hidden;*/
    -webkit-overflow-scrolling: touch;
    background: #faf139;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}
nav.active {
    /*transform: translateX(0%) translateY(0%);*/
    transform: translateX(0%) translateY(0%);
}

/* アイコンクリックで画像が変わる */
.toggle {
    cursor: pointer;
    /*display: inline-block;*/
    width: 80px;
    height: 80px;
    /*vertical-align: middle;*/
    bottom: 25px;
    right: 10px;
    position: fixed;
    z-index: 1000;
    background-image: url(../img/icon-1.png);
    background-repeat: no-repeat;
}
.toggle.active {
    background-image: url(../img/icon-2.png);
}
.svg-wrap {
    display: none;
}

.nav-inner {
    margin: 0 auto;
    /*width: 90%;*/
    padding: 40px 20px 0;
    position: relative;
}
nav .title {
    text-align: center;
    margin-bottom: 30px;
}
nav .title img {
    width: 100%;
}
nav .menu {
    text-align: left;
	display: block;
}
nav ul {
    display: inline-block;
    width: 100%;
}
nav li {
    margin-bottom: 30px;
    text-align: left;
}
nav li:last-of-type {
    margin-bottom: 0;
}
nav li a {
    font-size: 1em;
    color: #1f1f1f;
    font-weight: bold;
    letter-spacing: 0.05em;
    display: block;
    position: relative;
    transition: all .3s;
}
nav li a .fas {
    position: absolute;
    right: 0;
    top: 4px;
    color: #1f1f1f;
}
nav li a:hover .fas {
    right: -10px;
}
@media screen and (min-width: 400px) {
    nav .title img {
        width: 70%;
    }
}
@media screen and (min-width: 768px) {
    .nav-inner {
        padding: 40px 80px 0;
    }
}
@media screen and (min-width: 1024px){
    .nav-inner {
        padding: 50px;
    }
    nav .title {
        margin-bottom: 20px;
    }
    nav .title img {
        width: 250px;
    }
    nav ul {
        width: auto;
    }
    nav li {
        margin-bottom: 30px;
        text-align: center;
    }
    nav li a {
        font-size: 1.2em;
        position: relative;
        display: inline;
    }
    nav li a::before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        display: block;
        width: 0;
        height: 3px;
        background-color: #1f1f1f;
        transition: width 0.3s;
    }
    nav li a:hover {
    }
    nav li a:hover::before {
        width: 100%;
    }
    nav .menu {
        text-align: center;
    }
    .svg {
        width: 100%;
    }
    .svg-wrap {
        display: block;
        width: 100%;
        position: absolute;
        top: -145px;
        left: 0;
    }
    nav {
        height: 80%;
        width: 100%;
        transform: translateX(0%) translateY(120%);
    }
    nav.active {
        transform: translateX(0%) translateY(0%);
    }
    nav li a .fas {
        display: none;
    }
    .toggle {
        width: 100px;
        height: 100px;
        bottom: 10px;
    }
}



/* ローディング */
/* ローディング画面 */


#loading {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: #faf139;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.loading-wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    
}

.animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /*margin: 100px auto 0;*/
    width: 250px;
    height: 250px;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

.loaded {
    opacity: 0;
    visibility: hidden;
}


.page {
    display: grid;
}

/* ローディングアニメーション */

@keyframes sk-scaleout {
    0% {
        transform: scale(0);
    } 100% {
        transform: scale(1.0);
        opacity: 0;
    }
}




/* ヘッダー　header */
.header {
    background-color: #fafafa;
    margin-bottom: 80px;
    height: 45px;
}
.header-wrap {
    margin: 0 auto;
    width: 90%;
    position: relative;
}
.header img {
    width: 200px;
    position: absolute;
    top: -2px;
    transition: all .3s;
}
.header img:hover{
    opacity: .5;
}
.header span {
    display: none;
}

@media screen and (min-width: 1024px){
    .header {
        margin-bottom: 100px;
        height: 50px;
        padding: 15px 0;
    }
    .header img {
        width: 300px;
        top: -10px;
    }
    .header span {
        display: block;
        position: absolute;
        top: 15px;
        left:  340px;
        font-size: 0.8em;
        letter-spacing: 0.1em;
        color: #777;
        font-weight: bold;
    }
}



/* イントロ文章 */
.intro {
    margin-bottom: 50px;
}
.intro-wrap {
    width: 90%;
    margin: 0 auto;
}
.intro p {
    line-height: 1.8;
    color: #777;
    font-weight: bold;
    font-size: 0.85em;
    /*margin: 0 15px;*/
}
#season_message {
    color: #26baf0;
    /*color: #247bb0;*/
    margin-bottom: 10px;
}
.intro .contents {
    text-align: left;
}
.intro #title01 {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .intro {
        margin-bottom: 100px;
    }
    .intro p {
        font-size: 1em;
        text-align: center;
        margin: 0 auto;
    }
    .intro .contents {
        text-align: center;
    }
}


/* 体重入力 */
.weight {
    margin-bottom: 50px;
}
.weight table {
    width: 90%;
    margin: 0 auto;
    letter-spacing: 0.15em;
    border-collapse: collapse;
    table-layout: fixed;
}
.weight th {
    width: 100%;
    display: block;
    padding: 15px 0;
    background-color: #faf139;
}
.weight td {
    width: 100%;
    display: block;
    padding: 20px;
    background-color: #fffede;
    text-align: center;
    font-weight: bold;
}
.weight .contents {
    margin-bottom: 10px;
}
.weight .comment {
    text-align: left;
    width: 90%;
    margin: 0 auto;
}
.weight input {
    width: 170px;
}

#message_1 {
    font-weight: bold;
    color: #a10603;
}

@media screen and (min-width: 350px){
    .weight input {
        width: 200px;
    }
}

@media screen and (min-width: 768px) {
    .weight {
        margin-bottom: 100px;
    }
    .weight th {
        width: 50%;
        display: inline-block;
        padding: 30px 0;
    }
    .weight td {
        width: 50%;
        display: inline-block;
        padding: 20px 0;
    }
    .weight input {
        width: 250px;
    }
    .weight .comment {
        width: 90%;
    }
}

@media screen and (min-width: 1024px) {
    .weight .comment {
        width: 1000px;
    }
}



/* alcohol */
.alcohol {
    margin-bottom: 50px;
}
/* 入力テーブル */
.list {
    width: 90%;
    margin: 0 auto;
    font-weight: bold;
    border-collapse: collapse;
    color: #1f1f1f;
    table-layout: fixed;
}
.list .index {
    display: none;
    background-color: #faf139;
    text-align: center;
    width: 100%;
}
.list tr {
    border-bottom: solid 20px #fafafa;
}
.list td {
    text-align: center;
    background-color: #fcfac0;
    width: 100%;
    display: block;
    padding: 20px;
}
.list td.type {
    background-color: #faf139;
    text-align: left;
}

.alcohol .note {
    display: block;
    font-size: 0.9em;
    font-weight: bold;
}
.percent-sp, .pure-sp {
    font-size: 0.9em;
    font-weight: bold;
    margin-right: 10px;
}
.list input {
    width: 170px;
}
#title03 img {
    width: 80px;
    vertical-align: middle;
    transform: rotate(-10deg);
}

@media screen and (min-width: 350px){
    .list input {
        width: 200px;
    }
}

@media screen and (min-width: 768px) {
    .list {
        width: 600px;
    }
    .list .index {
        display: block;
        width: 100%;
    }
    .list tr {
        border-bottom: solid 3px #fafafa;
    }
    .list .index th {
        width: 150px;
        padding: 20px 0;
    }
    .list th {
        border-right: solid 3px #fafafa;
    }
    .percent-sp, .pure-sp {
        display: none;
    }
    .list td {
        width: 150px;
        display: inline-block;
        height: 70px;
        border-right: solid 3px #fafafa;
        padding: 10px 0 10px 10px;
    }
    .list .percent, .list .pure {
        line-height: 50px;
    }
    .list .type {
        font-size: 0.8em;
    }
    .list input {
        width: 90px;
    }
}

@media screen and (min-width: 900px) {
    .list {
        width: 680px;
    }
    .list .index th {
        width: 170px;
    }
    .list td {
        width: 170px;
    }
    .list .type {
        font-size: 0.85em;
    }
}

@media screen and (min-width: 1024px){
    .alcohol {
        margin-bottom: 100px;
    }
    .list {
        width: 800px;
    }
    .list .index th {
        width: 200px;
    }
    .list td {
        width: 200px;
        padding: 10px 0 10px 0;
    }
    .list .type {
        padding-left: 10px;
        padding-top: 15px;
    }
    .list tr {
        border-bottom: solid 4px #fafafa;
    }
    .list th {
        border-right: solid 4px #fafafa;
    }
}


/* 結果 */
.result {
    margin-bottom: 50px;
}
.result ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}
.result li {
    width: 90%;
    margin: 0 auto;
    color: #1f1f1f;
}
.result .show button {
    background-color: #faf139;
    margin-bottom: 20px;
    border: 3px solid #faf139;
    font-size: 1.3em;
}
.result .reset button {
    background-color: #ddd;
    border: 3px solid #ddd;
    font-size: 1.3em;
}
.result button {
    font-family: "游ゴシック","YuGothic","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ ゴシック",sans-serif;
    color: #1f1f1f;
    font-weight: bold;
    display: block;
    width: 100%;
    height: 70px;
    text-align: center;
    line-height: 70px;
    transition: all .3s;
    font-size: 0.9em;
}
.result .show button:hover {
    background-color: #fafafa;
    color: #1f1f1f;
}
.result .reset button:hover {
    background-color: #fafafa;
    color: #1f1f1f;
}

.result-message {
    margin-bottom: 50px;
    color: #1f1f1f;
    text-align: center;
    font-weight: bold;
}
.result-message .inner {
    text-align: left;
}
.result-message p{
    font-size: 0.7em;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
}
.result-message .p-bold {
    font-size: 1.8em;
    letter-spacing: 0.1em;
}

#your_status {
    font-weight: bold;
    font-size: 2em;
    color: #de123e;
}
#num_total {
    margin: 0 10px;
}
.result-message span {
    vertical-align: middle;
}
#alcoholism {
    color: #de123e;
    font-size: 1.1em;
}

@media screen and (min-width: 768px) {
    .result {
        margin-bottom: 100px;
    }
    .result li {
        width: 40%;
    }
    .result .show button {
        margin-bottom: 0;
    }

    .result-message {
        margin-bottom: 100px;
        font-size: 1.5em;
    }
    .result-message .total-number {
        margin-bottom: 20px; /* 本数 */
    }
    .result-message .inner {
        text-align: center;
    }
    .total, .result-percent {
        display: inline; /* 血中アルコール濃度 */
    }
    .total {
        margin-right: 20px; /* 純アルコール量 */
    }
    .period {
        margin-top: 20px; /* 酔い具合 */
    }
    .result-message .p-bold {
        letter-spacing: 0.15em;
    }
    .result-message p {
        margin-bottom: 0;
    }
    
}


/* chart */
.chart ul {
    display: flex;
    margin-bottom: 5px;
}
.chart ul img {
    width: 100%;
}
.main-image img {
    width: 100%;
}
.chart p {
    margin-bottom: 20px;
    font-weight: bold;
    color: #1f1f1f;
    font-size: 0.9em;
}

@media screen and (min-width: 1024px) {
    .chart ul {
        margin-bottom: 10px;
    }
    .chart ul li {
        margin-right: 10px;
    }
    .chart p {
        margin-bottom: 50px;
    }
}


/* フッター */
.footer {
    z-index: 100;
    padding-bottom: 10px;
    width: 90%;
}
.copyright {
    font-size: 0.75em;
    font-weight: bold;
    text-align: center;
}
.copyright a {
    /* color: #26baf0;*/
    color: #1f1f1f;
    transition: all .3s;
    border-bottom: 1px solid #1f1f1f;
}
.copyright a:hover{
    color: #247bb0;
    border-bottom: 1px solid #247bb0;
}
.caution {
    font-size: 0.8em;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}
.footer .beer {
    text-align: center;
    margin-bottom: 30px;
}
.sns img {
    width: 30px;
    transition: all .3s;
}
.sns {
    display: flex;
    justify-content: center;
}
.sns img:hover {
    transform: translateY(-0.1875em);
    filter:drop-shadow(1px 5px 8px rgba(0, 0, 0, 0.2));
}
.sns li {
    margin: 0 10px 10px;
}
.sns a {
    color: #fafafa;
}
@media screen and (min-width: 1024px){
    .footer {
        text-align: center;
        padding-bottom: 40px;
    }
    .caution {
        margin-bottom: 30px;
    }
    .sns img {
        width: 50px;
    }
    .sns li {
        margin: 0 15px 20px;
    }
}

/* Effects */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 180px;
}
.svg-beer {
    height: 350px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
.block-revealer__element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    pointer-events: none;
    opacity: 0;
}


@media screen and (min-width: 1024px) {
    .container {
        margin-top: 300px;
    }
    .svg-beer {
        height: 350px;
    }
}




/*
  FAQ
__________________________________________*/
.faq dl {
  text-align: left;
  width: 90%;
  margin: 0 auto 40px;
  font-weight: bold;
  color: #1f1f1f;
}
.faq dl:last-of-type {
  margin-bottom: 0;
}
.faq dt {
  position: relative;
  text-align: left;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: 30px;
  font-size: 1em;
  border: 2px solid #faf139;
  padding: 20px 50px 20px 20px;
}

dt:after {
  content: "";
  position: absolute;
  border-right: 1px solid #1f1f1f;
  border-bottom: 1px solid #1f1f1f;
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
  right: 20px;
  top: 25px;
}

dt.arrow:after {
  content: "";
  position: absolute;
  border-left: 1px solid #1f1f1f;
  border-top: 1px solid #1f1f1f;
  border-right: 0;
  border-bottom: 0;
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
  right: 20px;
  top: 30px;
}

.faq dd {
  /*background-image: url(../img/donguri_a.png);*/
  background-repeat: no-repeat;
  /* min-height: 48px; */
  background-position: 5% 50%;
  margin-left: 0px;
  background-size: 30px;
  font-size: 0.9em;
  padding: 20px;
  line-height: 2;
  background-color: #faf139;
}

.faq .wrap {
  width: 90%;
}
#faq_title01 {
  font-size: 2em;
  display: inline-block;
  margin-bottom: 30px;
  color: #777;
  font-weight: bold;
}
.faq a {
  color: #26baf0;
  transition: all .3s;
}
.faq a:hover {
  color: #1f1f1f;
}

@media screen and (min-width: 1024px) {
  .faq dl {
      width: 80%;
      margin-bottom: 80px;
  }
  .faq dt {
      padding: 20px 0 20px 20px;
  }
  .faq dd {
      padding-top: 30px;
  }
  .faq .wrap {
      width: 80%;
  }
  #faq_title01 {
      margin-bottom: 60px;
      font-size: 2em;
  }
  dt:after {
      width: 20px;
      height: 20px;
      right: 30px;
      top: 20px;
  }
  
  dt.arrow:after {
      width: 20px;
      height: 20px;
      right: 30px;
      top: 30px;
  }
}


/*
  ご利用ガイド
__________________________________________*/
.guide-wrap {
  width: 90%;
  margin: 0 auto;
}
.guide-wrap h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #888;
}
.guide-wrap ul li {
  margin-bottom: 30px;
}
.guide-wrap ul li:last-of-type {
  margin-bottom: 0;
}
.guide-wrap p {
  font-weight: bold;
  font-size: 0.9em;
  line-height: 1.8;
  letter-spacing: 0.05em;
  color: #1f1f1f;
}
.guide-notice {
  font-size: 0.8em;
}
.guide-wrap a {
  color: #26baf0;
  transition: all .3s;
}
.guide-wrap a:hover {
  color: #1f1f1f;
}

.marker{
  background: linear-gradient(transparent 60%, #faf139 70%);
  width: 60%;
}
.small-number {
  font-size: 0.6em;
}

@media screen and (min-width: 1024px){
  .guide-wrap h2 {
      margin-bottom: 20px;
  }
  .guide-wrap ul li {
      margin-bottom: 80px;
  }
  .guide-wrap p {
      font-size: 1em;
      line-height: 1.8;
  }
}


/*
  おつまみ
__________________________________________*/
.title-wrap {
  text-align: center;
}
#title01 {
  font-size: 2em;
}
.banner {
  margin: 0 auto 40px;
}
.banner img {
  width: 100%;
}
.nomi-wrap {
  width: 90%;
  margin: 0 auto;
}
.nomi-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 40px;
  width: 100%;
}
.nomi-button a{
  transition: all .3s;
}
.nomi-button a:hover{
  opacity: .65;
}

.nomi-button li {
  width: 100%;
}
.nomi-button img {
  width: 100%;
}

.main-image {
  margin: 0 auto 50px;
}
.main-image img {
  width: 100%;
}

/* 宅飲み・外飲み　共通 */
h2 {
  margin: 0 auto 30px;
  text-align: center;
}
h2 img {
  width: 100%;
}
h3 {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 20px;
  border-bottom: 3px dotted #26baf0;
  color: #1f1f1f;
}
#block_01, #block_02, #block_03, #block_04, #block_05, #block_06, #block_07 {
  display: inline-block;
}
.takunomi, .sotonomi {
  margin-bottom: 50px;
}
.main-wrap .comment p {
  width: 100%;
  text-align: left;
  font-size: 1.2em;
  line-height: 2;
  font-weight: bold;
  color: #1f1f1f;
  margin-bottom: 50px;
}
.lineup {
  margin-bottom: 50px;
}
.lineup li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}
.lineup img {
  width: 100%;
  margin-bottom: 20px;
}
.lineup-comment {
  width: 100%;
}
.lineup-comment p {
  display:inline-block;
  vertical-align: middle;
  font-weight: bold;
  color:#404040;
  letter-spacing: 0.05em;
  line-height: 2;
  font-size: 0.9em;
}
.lineup .second {
  flex-direction: column-reverse;
  margin-bottom: 0;
}

/* 宅飲み */
.main-wrap {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.takunomi .main-wrap .image {
  position: absolute;
  right: 0;
  bottom: 380px;
  text-align: right;
}
.takunomi .main-wrap .image img {
  width: 50%;
}

.ate-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ate-list li {
  width: 100%;
  margin-bottom: 50px;
}
.ate-list img {
  width: 100%;
  margin-bottom: 20px;
}
.ate-list p {
  width: 100%;
  font-size: 0.9em;
  font-weight: bold;
  color: #404040;
  line-height: 2;
}
.ate-list h3 {
  text-align: center;
}



/* 外飲み */
.sotonomi .main-wrap .image {
  position: absolute;
  left: 0;
  bottom: 400px;
}
.sotonomi .main-wrap .image img {
  width: 50%;
}
.sotonomi .lineup {
  margin-bottom: 0;
}


/* fade 上に上がる */
.up {
  opacity : 0;
  transform: translateY(50px);
  transition: 2s;
}
/* fade 下に下がる */
.down {
  opacity : 0;
  transform: translateY(-50px);
  transition: 2s;
}


.float-up {
  animation-name: float-up;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1.6s;
}
@keyframes float-up {
  0% {
      transform: translate(0,0px);
  }

  100% {
      transform: translate(0,-15px)
  }
}

.float-down {
  animation-name: float-down;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1.6s;
}
@keyframes float-down {
  0% {
      transform: translate(0,-15px);
  }

  100% {
      transform: translate(0,0px)
  }
}


@media screen and (min-width: 375px) {
  .sotonomi .main-wrap .image {
      bottom: 350px;
  }
}


@media screen and (min-width: 400px) {
  h2 img {
      width: 100%;
  }
  .sotonomi .main-wrap .image {
      bottom: 300px;
  }
}

@media screen and (min-width: 600px) {
  .takunomi .main-wrap .image {
      bottom: 290px;
  }
  .takunomi .main-wrap .image img {
      width: 70%;
  }

  .sotonomi .main-wrap .image {
      bottom: 290px;
  }
  .sotonomi .main-wrap .image img {
      width: 70%;
  }
}

@media screen and (min-width: 768px) {
  h2 img {
      width: 400px;
  }
  .takunomi .main-wrap .image {
      right: 0;
      bottom: 250px;
  }
  .takunomi .main-wrap .image img {
      width: 80%;
  }

  .sotonomi .main-wrap .image {
      bottom: 250px;
  }
  .sotonomi .main-wrap .image img {
      width: 80%;
  }
}


@media screen and (min-width: 1024px) {
  #title01 {
      font-size: 2em;
  }
  .banner {
      margin: 0 auto 80px;
  }
  .nomi-button {
      margin: 0 auto 80px;
      width: 80%;
  }
  .nomi-button li {
      width: 40%;
  }

  .main-image {
      margin: 0 auto 80px;
      text-align: center;
  }
  

  .main-image img {
      width: 90%;
  }

  .takunomi, .sotonomi {
      margin-bottom: 100px;
  }
  h2 {
      margin: 0 auto 50px;
  }
  h3 {
      margin-bottom: 20px;
  }

  .main-wrap {
  }
  .main-wrap .comment {
      width: 70%;
      margin-bottom: 100px;
  }
  .takunomi .main-wrap .image {
      right: 30px;
      bottom: 300px;
  }
  .takunomi .main-wrap .image img {
      width: 100%;
  }



  .lineup {
      margin-bottom: 100px;
  }
  .lineup img {
      width: 48%;
      margin-bottom: 0;
  }
  .lineup-comment {
      width: 48%;
      padding-top: 30px;
  }
  .lineup li {
      margin-bottom: 50px;
  }
  .lineup .second {
      flex-direction: unset;
  }

  .ate-list li {
      width: 30%;
      margin-bottom: 0;
  }
  .ate-list img {
      width: 100%;
  }
  .ate-list p {
      width: 100%;
  }


  .sotonomi .main-wrap .comment {
      margin-left: auto;
  }
  .sotonomi .main-wrap .image {
      left: 30px;
      bottom: 150px;
  }

  .sotonomi .main-wrap .image img {
      width: 100%;
  }
}
