<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>よくある質問 | ほろよいメーター | 「ほろよいメーター」で酔い度をチェック。適量飲酒を心がけ、お酒をたのしく飲みましょう。</title>

    <meta name="description" content="アルコール中毒には要注意！「ほろよいメーター」で酔い度をチェックしてみましょう。">

    <!-- OGP -->
    <meta property="og:title" content="ほろよいメーター | 「ほろよいメーター」で酔い度をチェック。適量飲酒を心がけ、お酒をもっと、たのしく。">
    <meta property="og:type" content="article">
    <meta property="og:description" content="アルコール中毒には要注意！「ほろよいメーター」で酔い度をチェックしてみましょう。">
    <meta property="og:url" content="https://www.yuki-017.com/horoyoi-meter/index.html">

    <%- include('assets/inc/head') %>
  </head>

  <body>
    <%- include('assets/inc/header') %>

    <section class="faq">
      <div class="contents">
        <div class="wrap">
          <p id="faq_title01">よくある質問</p>
        </div>
        <dl>
          <dt>「急性アルコール中毒」って？</dt>
          <dd>一度にアルコールを大量摂取すると、体内の血中アルコール濃度が一気に上昇します。<br>
            それにより意識障害や血圧低下、嘔吐などを起こす中毒症状のことを急性アルコール中毒と言います。<br>
            重症になると死に至ることもある極めて危険な中毒症状です。
          </dd>
        </dl>
        <dl>
            <dt>どんな症状があるの？</dt>
            <dd>歩行困難、意識障害、血圧低下、嘔吐、動悸や呼吸困難、顔が真っ赤になる、言語の支離滅裂、失禁、記憶が抜け落ちるなどの症状があります。
              <br>
              <br>
              また、「酩酊に伴う医療従事者への暴力行為や暴言、大声で叫ぶ行為」なども少なくありません。
              <br>
              <br>
              参考論文：<a href="https://www.jstage.jst.go.jp/article/jsem/18/4/18_585/_pdf" target="_blank">ERに搬入された急性アルコール中毒患者の検討</a>
            </dd>
        </dl>
        <dl>
            <dt>アルコール中毒とアルコール依存症との違いは？</dt>
            <dd>
              「アル中」と呼ばれる状態は、厳密にはアルコール依存症のことを言います。
              <br>
              アルコール依存症は
              「アルコール摂取に関するコントロールができずに社会生活に影響を及ぼしている状態」と定義されます。
              <br>
              以前は慢性アルコール中毒、慢性酒精中毒と呼ばれていたこともあります。
              <br>
              <br>
              一度アルコール依存症になってしまうと、
              ひとたび飲酒すると「ほどほどでやめる」ということができなくなります。
              <br>
              酔いつぶれるまで飲んでしまい、起きてまた酒を求めるようになり、
              社会生活も家庭生活を築くことが難しくなります。
              <br>
              自分ではコントロールできない状態となり、医療機関の受診が必要となります。
            </dd>
        </dl>
        <dl>
            <dt>アルコール中毒はお酒に強い人でもなるの？</dt>
            <dd>
              酒に強い人だけでなく、これまでにアルコール依存症のなかった人にも発症する可能性があります。<br>
              アルコール中毒の発生率は、「お酒に強い体質」「お酒に弱い体質」とは関係がありません。<br>
              血中のアルコール濃度（＝飲んだアルコールの量）に比例するため、誰にでもリスクがあります。
            </dd>
        </dl>
        <dl>
          <dt>どんな人がアルコール中毒になりやすいの？</dt>
          <dd>
            特に若年層や女性、高齢者などでリスクが高まります。<br>
            中でも大学生や新社会人では、「一気飲み」により死亡するケースも多く発生しています。<br>
            <br>
            急性アルコール中毒による救急搬送は増加傾向にあり、
            特に「20代の搬送件数」と「12月の搬送件数」が圧倒的に高いというデータがあります。<br>

            <br>
            参考サイト：
            <a href="https://www.tfd.metro.tokyo.lg.jp/lfe/kyuu-adv/201312/chudoku/" target="_blank">東京消防庁</a>
          </dd>
        </dl>
        <dl>
          <dt>病院ではどんな治療をするの？</dt>
          <dd>
            気道確保、保温、生理食塩水などで補液を行い血中アルコール濃度を下げます。<br>
            <br>
            重症の場合は、気管内挿管や人工呼吸が必要な場合もあります。
            <br>
            その他、鼻から胃へチューブを通して嘔吐物を吸引し除去します。
            尿道カテーテルを挿入して、尿として排出させることもあります。
            <br>
            <br>
            参考サイト：<a href="https://doctorsfile.jp/medication/91/" target="_blank">Doctors File 急性アルコール中毒</a>
          </dd>
        </dl>
        <dl>
          <dt>アルコール中毒を防ぐには？</dt>
          <dd>
            普段から自分の適量を把握しておくことが大切です。
            <br>
            また空腹時は、アルコールが胃腸から早く吸収されるため、食事をしながら適度に飲みましょう。
            <br>
            一気飲みや体調が良くないときの飲酒、人に無理に飲酒をすすめることはやめましょう。
            <br>
            <br>
            参考サイト：<a href="https://www.asahibeer.co.jp/csr/tekisei/ikki/prevent.html" target="_blank">人とお酒のイイ関係</a>
          </dd>
        </dl>
      </div>
    </section>

    <%- include('assets/inc/footer') %>
  
    <%- include('assets/inc/js') %>
    <script src="/assets/js/faq.js"></script>

  </body>
</html>