<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>ご利用ガイド | 「ほろよいメーター」で酔い度をチェック。適量飲酒を心がけ、お酒をたのしく飲みましょう。</title>

    <meta name="description" content="アルコール中毒には要注意！「ほろよいメーター」で酔い度をチェックしてみましょう。">

    <!-- OGP -->
    <meta property="og:title" content="ほろよいメーター | 「ほろよいメーター」で酔い度をチェック。適量飲酒を心がけ、お酒をもっと、たのしく。">
    <meta property="og:type" content="article">
    <meta property="og:description" content="アルコール中毒には要注意！「ほろよいメーター」で酔い度をチェックしてみましょう。">
    <meta property="og:url" content="https://www.yuki-017.com/horoyoi-meter/index.html">

    <%- include(incFile + '_head.ejs'); %>
  </head>

  <body>

    <%- include(incFile + '_header.ejs'); %>

    <div class="contents">
      <div class="wrap">
        <p id="title01">ご利用ガイド</p>
      </div>
      
      <div class="guide-wrap">
      <ul>
        <li>
          <h2>はじめに</h2>
          <p>ほろよいメーター(※以下当サイト)をご利用する前に、以下のご利用条件をよくお読みいただき、ご同意いただいた上でご利用いただくようお願い申し上げます。</p>
        </li>
        <li>
          <h2>計算方法</h2>
          <p>純アルコール量<span class="small-number">※1</span>の算出方法<span class="small-number">※2</span>は<br class="br-sp">
          <span class="marker">飲酒量(ml) × 度数(%) × 0.8(比重)<span class="small-number">※3</span></span>
          <br class="br-sp">です。
          <br>
          <br>
          アルコール血中濃度（％）<span class="small-number">※4</span>の簡易算出方法は<br class="br-sp">
          <span class="marker">{ 飲酒量(ml)×アルコール度数（%）}÷833<span class="small-number">※5</span>×体重（kg）</span>
          <br class="br-sp">です。
          <br>
          <br>
          <span class="guide-notice">
            ※1:純アルコール量は小数点切り捨てを行っています。<br>
            ※2:当サイトは簡易算出方法を採用しており、全てのアルコールが体内に吸収され、分解されずに血液・体液中に拡散しているとした場合と仮定しています。<br>
            また性別・体質・体調により身体の状態は大きく変動するため確実な診断結果を保障するものではありませんのでご了承ください。<br>
            ※3:アルコール比重は、液体エタノール(エチルアルコール)の比重である0.792gを0.8gとして設定しています。<br>
            ※4:当サイトでは、アルコール血中濃度の数値は小数点第二位で切り捨てたものを表示しています。<br>
            ※5:「833」の数値は、体重に占める水分量（約3分の2）とアルコールの比重0.8をもとに算出したものです。
            </span>
          </p>
        </li>
        <li>
          <h2>参考サイト</h2>
          <p>
            <a href="https://www.jstage.jst.go.jp/article/jsem/18/4/18_585/_pdf" target="_blank">・ERに搬入された急性アルコール中毒患者の検討(PDF)</a>
            <br>
            <a href="https://www.tfd.metro.tokyo.lg.jp/lfe/kyuu-adv/201312/chudoku/" target="_blank">・東京消防庁 -急性アルコール中毒</a>
            <br>
            <a href="https://doctorsfile.jp/medication/91/" target="_blank">・Doctors File -急性アルコール中毒</a>
            <br>
            <a href="https://www.asahibeer.co.jp/csr/tekisei/ikki/prevent.html" target="_blank">・人とお酒のイイ関係 -急性アルコール中毒を防ぐ方法</a>
            <br>
            <a href="https://www.takarashuzo.co.jp/saynoweb/hint/drunkenness.html">・宝酒造 -お酒おつきあい読本</a>
            <br>
            <a href="https://hawaiidebeer.com/horoyoi/" target="_blank">・ハワイでビール</a>
          </p>
        </li>
        <li>
          <h2>フリー素材</h2>
          <p>
            <a href="https://icon-rainbow.com/" target="_blank">・商用可の無料のアイコン素材「icon-rainbow」</a>
            <br>
            <a href="https://jp.freepik.com/" target="_blank">・FreePik</a>
            <br>
            <a href="hhttps://www.photo-ac.com/" target="_blank">・写真素材「写真AC」</a>
            <br>
            <a href="https://www.ac-illust.com/" target="_blank">・無料イラスト「イラストAC」</a>
            <br>
            <a href="https://www.irasutoya.com/">・かわいいフリー素材集 いらすとや</a>
          </p>
        </li>
      </ul>
    </div>
    </div>

    <%- include(incFile + '_footer.ejs'); %>

    <%- include(incFile + '_js.ejs'); %>
    <script src="/assets/js/guide.js"></script>

  </body>
</html>